<header>
    <div class="menu">
        <a href="/admin/users"> Admins </a>
        <a href="/users"> Users </a>
        <a href="/game"> Games </a>
    </div>
    <div class="logout"><a href="/admin/logout">Logout</a></div>
</header>