<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <div class="containerForm">
        <div class="form" >
            <form action="" method="post">
                <p>Username</p>
                <input type="text" name="username">

                <p>Password</p>
                <input type="password" name="password" id="">

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>